.atStrideSidebarCard {
  padding: 0 8px 8px 8px;
  background: #f4f5f7;
  border-radius: 3px;
  box-sizing: border-box;
  transition: background .3s;
  text-align: left;
  color: #5e6c84;
  user-select: none;
}

.atStrideSidebarCard:hover {
  background: #ebedf0;
}

.atStrideSidebarCard:hover .atStrideSidebarCard__Main {
  box-shadow: 0 4px 8px -2px rgba(23, 43, 77, .32),
    0 0 1px rgba(23, 43, 77, .25);
}

.atStrideSidebarCard__Top {
  height: 32px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.atStrideSidebarCard__Title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.atStrideSidebarCard__Logo {
  margin: 0 4px 0 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.atStrideSidebarCard__Main {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(23, 43, 77, .24);
  transition: box-shadow .3s;
  padding: 8px;
  overflow: hidden;
}

.atStrideSidebarCard__People {
  float: right;
  margin: 3px 0 0 0;
}

.atStrideSidebarCard__Descr {
  font-size: 12px;
  line-height: 18px;
  word-wrap: break-word;
}

.atStrideSidebarCard__Icon {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  float: left;
}

.atStrideSidebarCard__Info {
  padding: 0 8px;
  box-sizing: border-box;
  width: calc(100% - 24px - 36px);
  float: left;
}

.atStrideSidebarCard__Menu {
  width: 36px;
  float: right;
}

.atStrideSidebarCard__Data {
  overflow: hidden;
}

.atStrideSidebarCard__Caption {
  color: #172b4d;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: -3px 0 0 0;
}
